# 虚拟环境
venv
# 生成的python文件
*.pyc
# 编译后的文件
*.o
# 编译后的可执行文件
*.exe
# 编译后的可执行文件
*.so
# 编译后的可执行文件
*.dll
# 编译后的可执行文件
*.dylib
# 编译后的可执行文件
*.lib
# 编译后的可执行文件
*.a
# 编译后的可执行文件
*.pyd
# 编译后的可执行文件
*.pyw
# 移动应用源代码
android
# 临时文件
__pycache__