
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>毕业生留言</title>
  <link href="/static/css/layui.css" rel="stylesheet">
</head>
<style>
    @media screen and (min-width: 768px) {
        .demo-login-container {
            width: 640px;
            margin: 42px auto 0;
        }

        .layui-form-item-send {
            width: 640px;
            margin: 42px auto 0;
        }
    }
    /* 移动端样式 */
    @media screen and (max-width: 767px) {
        .demo-login-container {
            width: 100%; /* 在移动端占满全屏 */
        }
        .layui-form-item-send {
            width: 100%; /* 在移动端占满全屏 */
        }
}
</style>
<body>
<ul class="layui-nav">
  <li class="layui-nav-item"><a href="/">主页</a></li>
  <li class="layui-nav-item layui-this">
    <a href="/create">创建留言</a>
  </li>
  <li class="layui-nav-item">
    <a href="/login">登录</a>
  </li>
  <li class="layui-nav-item"><a href="/register">注册</a></li>
  <li class="layui-nav-item" lay-unselect>
    <a href="javascript:;">
      <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
    </a>
    {% if logined %}
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">控制台</a></dd>
        <hr>
        <dd style="text-align: center;"><a href="/logout">退出</a></dd>
      </dl>
    {% else %}
    <dl class="layui-nav-child">
      <dd><a href="/login">未登录</a></dd>
    </dl>
    {% endif %}
  </li>
</ul>

<form class="layui-form">
    <div class="demo-login-container">
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-username"></i>
        </div>
        <input type="text" name="username" value="" lay-verify="required" placeholder="你的名字(填“#”代表匿名" lay-reqtext="请填写名字" autocomplete="off" class="layui-input" lay-affix="clear">
      </div>
    </div>
        <div class="layui-form-item">
        <label class="layui-form-label">年级：</label>
        <div class="layui-input-inline">
            <select id="gradeSelect" lay-filter="grade">
                <option value="">请选择年级</option>
                <option value="8">八年级</option>
                <option value="9">九年级</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">班级：</label>
        <div class="layui-input-inline">
            <select id="classSelect" lay-filter="class">
                <option value="">请选择班级</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-password"></i>
        </div>
          <textarea name="" placeholder="写下你想说的话" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-row">
        <div class="layui-col-xs7">
          <div class="layui-input-wrap">
          </div>
        </div>
      </div>
        {{ form.hidden_tag() }}
        {{ form.recaptcha }}  <!-- 渲染 reCAPTCHA -->
    </div>
    <div class="layui-form-item-send" id="send">
      <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-login">提交</button>
    </div>
  </div>

</form>
<script src="/static/layui.js"></script>
<script src="/static/jquery.js"></script>
<script src="/static/create.js"></script>
</body>