
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>毕业生留言</title>
  <link href="/static/css/layui.css" rel="stylesheet">
</head>
<body>
<ul class="layui-nav">
  <li class="layui-nav-item layui-this"><a href="/">主页</a></li>
  <li class="layui-nav-item">
    <a href="/create">创建留言</a>
  </li>
  <li class="layui-nav-item">
    <a href="/login">登录</a>
  </li>
  <li class="layui-nav-item"><a href="/register">注册</a></li>
  <li class="layui-nav-item" lay-unselect>
    <a href="javascript:">
      <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
    </a>
    {% if logined %}
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">控制台</a></dd>
        <hr>
        <dd style="text-align: center;"><a href="/logout">退出</a></dd>
      </dl>
    {% else %}
    <dl class="layui-nav-child">
      <dd><a href="/login">未登录</a></dd>
    </dl>
    {% endif %}
  </li>
</ul>


<table id="messageTable" lay-filter="messageTable">
        <!-- 表头 -->
        <thead>
            <tr>
                <th lay-data="{field:'id', width:80}">ID</th>
                <th lay-data="{field:'username'}">用户名</th>
                <th lay-data="{field:'ip'}">IP地址</th>
                <th lay-data="{field:'message'}">消息内容</th>
                <th lay-data="{field:'grade', width:80}">等级</th>
                <th lay-data="{field:'class', width:80}">班级</th>
                <th lay-data="{fixed: 'right', toolbar: '#operate'}">操作</th>
            </tr>
        </thead>
        <!-- 表格主体 -->
        <tbody></tbody>
    </table>

<script src="/static/layui.js"></script>
<script src="/static/index.js"></script>
</body>

<!-- 定义操作栏模板 -->
<script type="text/html" id="operate">
    <button class="layui-btn layui-btn-sm" lay-event="like">点赞</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="report">举报</button>
</script>