
<html>
    <head>
        <title>html,css,js</title>
        <!--jquery-->
        <script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
        <style>
            .div1{
                width: 100px;
                height: 100px;
                background-color: red;
            }
        </style>
    </head>
    <body>
        <!--点击按钮弹出提示框-->
        <button>question</button>
        <div class="div1" id="div1""></div>
    </body>
    <script>
        $("button").click(function(){
            $(div1).hide();
        });
    </script>
</html>
<!--尚未完成-->